.App {
    display: flex;
}

.Ingredient {
    display: flex;
    gap: 10px;
    margin: 20px 20px;
    align-items: center;
    padding: 10px;
}

.main {
    border: 2px solid #000;
    width: 400px;
    margin: 40px 200px;
}

.img {
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    cursor: pointer;
}

.btn {
    height: 30px;
    cursor: pointer;
}

